{
  "$schema": "https://swc.rs/schema.json",
  "module": {
    "type": "es6", // import/export 쓰는 esm으로 가겠습니다.
    "strict": true
  },
  "jsc": {
    "parser": {
      "syntax": "typescript",
      "decorators": true
    },
    "target": "esnext" // 타겟은 그냥 최신 문법으로.
  },
  "minify": false, // 어차피 용량 10%정도 차이밖에 안 남. minify를 끄면 혹시 혹시 정말 혹시나 나중에 소스맵 없이 코드를 봐야 하는 끔찍한 상황에 조금이나마 도움이 될 수 있지 않을까 해서 끔.
  "sourceMaps": true // 소스맵 생성. 선언맵은 밖에서 tsc로 따로 만들거예요.
}
